    <footer class="text-center text-lg-start custom-footer text-muted w-100 m-0 p-0">
        <section class="d-flex justify-content-center justify-content-lg-between align-items-center p-4 border-bottom">
            <div class="me-5">
                <span>Síguenos por nuestras redes sociales</span>
            </div>
            <div class="d-flex align-items-center">
                <a href="https://www.facebook.com" target="_blank" class="me-3 text-reset">
                </a>
                <a href="https://www.x.com" target="_blank" class="me-3 text-reset">
                </a>
                <a href="https://www.instagram.com" target="_blank" class="me-3 text-reset">
                </a>
            </div>
        </section>

        <section>
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>RePixel
                        </h6>
                        <p>
                            ¡¡Ven a mejorar tu imagen con nosotros!!
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</html>