<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/pages/index.html">
            <img src="../img/logo_sin_marca.png" alt="Logo" width="80" class="me-2">
            <span>RePixel</span>
        </a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <!-- Links visibles siempre -->
                <li class="nav-item me-2 with-user">
                    <a class="btn btn-outline-dark" href="/pages/galeria_imagenes.html">Mis Archivos</a>
                </li>
                <li class="nav-item me-2 with-user">
                    <a class="btn btn-outline-dark" href="/pages/inicio.html">Procesar</a>
                </li>
                <!-- Solo si NO hay usuario -->
                <li class="nav-item me-2 no-user">
                    <a class="btn btn-outline-dark" href="/pages/login.html">Iniciar Sesión</a>
                </li>
                <li class="nav-item me-2 no-user">
                    <a class="btn btn-outline-dark" href="/pages/registro.html">Registrar</a>
                </li>

                <!-- Solo si HAY usuario -->
                <li class="nav-item me-2 with-user">
                    <div class ="d-flex align-items-center flex-block">
                    <span class="badge btn btn-outline-dark" id="userBadge"></span>
                    </div>
                </li>
                <li class="nav-item me-2 with-user">
                    <button class="btn btn-outline-danger" id="btnLogout">Cerrar Sesión</button>
                </li>
            </ul>
        </div>
    </div>
</nav>